@import "./index.scss";

.hero_banner {
  padding: 7rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 767px) {
    padding: 5rem 0;
  }
  .hero_content {
    width: 505px;
    max-width: 100%;
  }
  .title {
    @include heading1;
    .talk_title {
      color: $secondery-color;
    }
  }
  p {
    font-size: 22px;
    line-height: 164%;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .btn_wrap {
    margin-top: 40px;
    @include flex;
    .watch_btn {
      margin-left: 20px;
    }
  }
}

/*******feature_des*********/

.feature_des {
  margin: 7rem 0;
  @media (max-width: 767px) {
    margin: 5rem 0;
  }

  .feature_img {
    padding-right: 5rem;
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
  .featute_content {
    margin-top: 2em;
  }
  p {
    @include font-main;
  }
  .watch_btn {
    span {
      color: $secondery-color;
    }
  }
}
.adventures_location {
  text-align: center;
  @media(max-width:767px){
    margin-bottom: 2rem;
  }
  .img {
    overflow: hidden;
    border-radius: 8px;
    &:hover img {
      transform: scale(1.1);
    }
  }
  img {
    transition: 0.5s;
    border-radius: 8px;
  }
}
.adventures {
  margin-bottom: 7rem;
  @media(max-width:767px){
    margin-bottom: 3rem;
  }
}

/*****story******/
.story {
  margin: 7rem 0;
  @media(max-width:767px){
    margin: 5rem 0;
  }
  &.stories {
    .right_box {
      max-height: inherit;
    }
    .right_box_inner {
      margin: 0;
    }
  }
  .left_box_inner {
    background-color: $light-gray;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .description_wrap {
    width: 85%;
  }
  .left_box {
    img {
      border-radius: 8px 8px 0 0;
    }
  }
}
.right_box_inner {
  background-color: $light-gray;
  padding: 0.75rem 0;
  border-radius: 8px;
  border: solid 1px transparent;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    border-color: $secondery-color;
    img {
      transform: scale(1.04);
    }
  }
  a {
    color: $secondery-color;
  }
  img {
    transition: 0.5s;
    border-radius: 4px;
  }
  img,
  h4 {
    cursor: pointer;
  }
}
.right_box {
  max-height: 485px;
  overflow-y: auto;
}
