// font family
$primary-font:'Roboto', sans-serif;
$secondary-font: 'Changa One', cursive;

/*****primary color******/
$primary-color:#434343;
$secondery-color:#8A53FF;
$light-gray:#F9F9F9;

/****other color*****/
$white:#fff;

// Breakpoints
$xs-min: 480px;
$xs-max: 576px;
$sm-max: 767px;
